<h2>
    Topic Details
</h2>
<div *ngIf="topic">
    <ng-container *ngIf="!editable()">
      <h3>{{ topic.Title }}</h3>
      <h4>{{ topic.Author }}</h4>
      <h4>{{ topic.topicStatus }}</h4>
      <p>{{ topic.Description }}</p>
    </ng-container>
    <ng-container>
      <input [(ngModel)]="topic.Title">
    </ng-container>
<div *ngIf="voteBtnVisible()">
  <button (click)="vote('yes')">Vote Yes</button>&nbsp;
  <button (click)="vote('no')">Vote No</button>&nbsp;
  <button (click)="vote('abstain')">Abstain</button>
</div>

    <div style="display: block">
            <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColors"
              >
            </canvas>
    </div>
</div>


{{topic | json}}
