<h2>
    Topic Details
</h2>
<div *ngIf="topic">
    <h3>{{ topic.Title }}</h3>
    <h4>{{ topic.Author }}</h4>
    <h4>{{ topic.topicStatus }}</h4>
    <p>{{ topic.Description }}</p>
    <p>
      isAuthor = {{ isAuthor }} 
    </p>
    <p *ngIf=" topic.topicStatus=='Open' ">
    <button (click)="vote('yes')">Vote Yes</button>&nbsp;
    <button (click)="vote('no')">Vote No</button>&nbsp;
    <button (click)="vote('abstain')">Abstain</button>
    </p>
   
    <div style="display: block">
            <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColors"
              >
            </canvas>
    </div>
</div>
