<h2>
    Topic Details
</h2>
<div *ngIf="topic">
    <ng-container *ngIf="!editable()">
      <h3>{{ topic.Title }}</h3>
      <h4>{{ topic.Author }}</h4>
      <h4>{{ topic.topicStatus }}</h4>
      <p>{{ topic.Description }}</p>
    </ng-container >
    <ng-container *ngIf="editable()">
      <div><label>Title</label><input [(ngModel)]="topic.Title"></div>
      <div>
        <p>Author: {{ topic.Author }}</p>
        <p><label>Status</label><select [(ngModel)]="topic.topicStatus" >
        <option>Draft</option> 
        <option>Published</option>
        <option>Open</option>
        <option>Closed</option>
      </select></div>
      <div><label>Description</label><textarea [(ngModel)]="topic.Description" rows="10" cols="60"></textarea></div>

    </ng-container>
<div *ngIf="voteBtnVisible()">
  <button (click)="vote('yes')">Vote Yes</button>&nbsp;
  <button (click)="vote('no')">Vote No</button>&nbsp;
  <button (click)="vote('abstain')">Abstain</button>
</div>

    <div style="display: block">
            <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColors"
              >
            </canvas>
    </div>
</div>

