<a [routerLink]="['/']">
  <h1><img src="/assets/oie_transparent.png" width="70px">LACS eVote v0.1</h1>
</a>


<span *ngIf="getUsername()" >Logged in as: {{getUsername()}}</span>
<div *ngIf="!loginService.isLoggedIn()">
<a [routerLink]="['/login']" class="button fancy-button">Login</a>
</div>
<div *ngIf="loginService.isLoggedIn()">
    <a [routerLink]="['/logout']" class="button fancy-button">Logout</a>
    </div>
    

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
